# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2021, Chao-ying Fu <cfu@wavecomp.com>

config P8700_RISCV
	bool
	select ARCH_EARLY_INIT_R
	imply CPU
	imply CPU_RISCV
	imply RISCV_TIMER
	imply MIPS_GIC if (RISCV_MMODE || SPL_RISCV_MMODE)
	imply CMD_CPU
	imply SPL_CPU_SUPPORT
	imply SPL_OPENSBI
	imply SPL_LOAD_FIT
