menu "RISC-V specific commands"
	depends on RISCV

config CMD_ENDIAN
	bool "Endian switch command"
	help
	  Some RISC-V cpus can switch endianness on the fly. This command allows
	  the user to check the current endianness of the cpu. And switch
	  it if possible. This is experimental for the moment as some values
	  are hard-coded.

endmenu

