if TARGET_MIPS_BOSTON

config SYS_BOARD
	default "boston-riscv"

config SYS_VENDOR
	default "mips"

config SYS_CONFIG_NAME
	default "boston-riscv"

config SYS_CPU
	default "p8700"

config BOARD_SPECIFIC_OPTIONS
    def_bool y
    select P8700_RISCV
    imply SYS_NS16550

config SYS_CACHELINE_SIZE
    default 64

config SYS_SDRAM_BASE
    hex
    default 0x80000000

config SYS_INIT_SP_ADDR
    hex
    default 0x80200000

config STANDALONE_LOAD_ADDR
    hex
    default 0x80200000

config SYS_MAX_FLASH_BANKS_DETECT
    bool
    default y

config PHY_REALTEK
    bool
    default y

config TFTP_FILE_NAME_MAX_LEN
    int "Maximum length of TFTP file name"
    default 256

config CMD_DISPLAY
	bool "Enable display command"
	default y

endif
